<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso, confira os dados abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} ({{ duration }} Mês/Meses)<br />
  <strong>Data de início: </strong> {{ date_start }} <br />
  <strong>Data de término: </strong> {{ date_end }} <br />
  <strong>Valor: R$</strong> {{ price }} <br />
  <br />
  <small>
    Seja muito bem vindo, estamos felizes por você fazer parte agora da fámilia GymPoint.
  </small>
</p>
